body {
    font-family: "Lato", sans-serif;
    background-color: rgb(36, 36, 36);
    margin: 0;
    color: rgb(235, 235, 235);
    letter-spacing: 1px;
}



/*Navbar*/
.navbar {
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(173, 44, 75), #012441);
    padding-bottom: 0;
}

.navbar a {
   font-size: 2.1vw;
   text-decoration: none;
   padding: 22px 16px;
   display: block;
   color: rgb(235, 235, 235);
   float: left;
   display: flex;
   padding-left: 18%;
}



/*Main*/
.logo [type=logo] {
    border: none;
    position: absolute;
    height: 90px;
    width: auto;
    margin-left: 3vh;
}

.overskrift {
    font-size: 1.7vw;
    text-align: center;
}

.overskrift h1 {
    letter-spacing: 10px;
}

.overskrift h4 {
    font-size: 1.2vw;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-left: 20%;
    margin-right: 20%;
}

.request {
    width: 40%;
    margin: auto;
    padding: 2%;
}

.request input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(225, 224, 224);
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: medium;
    font-weight: bold;
}

button {
    font-size: 16px;
    background-color: rgb(173, 44, 75);
    color: rgb(235, 235, 235);
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
button:hover {
    background-color: rgb(129, 30, 53);
}



/*Footer*/
.footer1 {
    background-color:  #012441;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 1vw;
    float: left;
    padding-top: 1%;
    padding-bottom: 1%;
    font-style: italic;
}