body {
    font-family: "Lato", sans-serif;
    background-color: rgb(36, 36, 36);
    margin: 0;
    color: rgb(235, 235, 235);
    letter-spacing: 1px;
}



/*Navbar*/
.navbar {
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(173, 44, 75), #012441);
    padding-bottom: 0;
}

.navbar a {
   font-size: 2.1vw;
   text-decoration: none;
   padding: 22px 16px;
   display: block;
   color: rgb(235, 235, 235);
   float: left;
   display: flex;
   padding-left: 18%;
}



/*Main*/
.logo [type=logo] {
    border: none;
    position: absolute;
    height: 90px;
    width: auto;
    margin-left: 3vh;
}

.overskrift {
    font-size: 1.7vw;
    text-align: center;
}

.overskrift h1 {
    letter-spacing: 10px;
}

.overskrift h4 {
    font-size: 1.2vw;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-left: 20%;
    margin-right: 20%;
}

.request {
    width: 40%;
    margin: auto;
    padding: 2%;
}

.request input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(225, 224, 224);
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: medium;
    font-weight: bold;
}

@media screen and (max-width: 850px) {
    .logo [type=logo] {
        border: none;
        position: absolute;
        height: 9vw;
        width: auto;
        margin-left: 3vh;
        margin-top: 1%;
    }  
}

@media screen and (max-width: 600px) {
    .logo [type=logo] {
        border: none;
        position: absolute;
        height: 13vw;
        width: auto;
        margin-left: 2vh;
        margin-top: 1%;
    }

    .navbar a {
        font-size: 3vw;
        text-decoration: none;
        padding: 20px 1px;
        display: block;
        color: rgb(235, 235, 235);
        float: left;
        margin-left: 15%;
    }
}

@media screen and (max-width: 426px) {
    .logo [type=logo] {
        border: none;
        position: absolute;
        height: 13vw;
        width: auto;
        margin-left: 2vh;
        margin-top: 2.7%;
    }

    .overskrift {
        font-size: 2.7vw;
        text-align: center;
    }
    
    .overskrift h1 {
        letter-spacing: 7px;
    }
    
    .overskrift h4 {
        font-size: 2.4vw;
        letter-spacing: 1.4px;
        line-height: 1.5;
        margin-left: 20%;
        margin-right: 20%;
    }

    .request {
        width: 60%;
        margin: auto;
        padding: 2%;
    }

    .request input {
        padding: 5px !important;
        font-size: 2.5vw;
    }

    button {
        padding: 4px 10px !important;
        font-size: 3vw !important;
        margin-bottom: 4%;
    }

    .footer1 {
        font-size: 2vw !important;
    }
}


/*Button*/
button {
    font-size: 16px;
    background-color: rgb(173, 44, 75);
    color: rgb(235, 235, 235);
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
  
button:hover {
    background-color: rgb(129, 30, 53);
}


/*Footer*/
.footer1 {
    background-color:  #012441;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 1vw;
    float: left;
    padding-top: 1%;
    padding-bottom: 1%;
    font-style: italic;
}